body {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); }
  body .pie {
    text-decoration: none;
    display: inline-block;
    position: fixed;
    top: 110px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: #bfa3a3ad;
    border-radius: 5px; }
  body .form {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    padding: 50px; }
    body .form li {
      list-style: none;
      padding: 5px;
      margin: 5px; }
      body .form li label {
        font-size: 20px;
        text-transform: uppercase;
        padding-right: 5px;
        color: black; }
      body .form li .text {
        display: flex;
        margin-top: 5px;
        padding: 10px;
        width: 400px;
        border: black 1px solid;
        color: black; }
      body .form li .submit {
        padding: 15px 30px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        border: black 1px solid;
        font-size: 15px; }
